<% layout("layouts/boilerplate") %>

    <body>
        <div class="container mt-5">
            <div class="row justify-content-center w-100"> <!-- Added w-100 for full row width -->
                <div class="col-md-6"> <!-- Removed offset-md-3 -->
                    <div class="card">
                        <img src="<%= listing.image.url %>" class="card-img-top"
                            style="max-height: 35vh; object-fit: cover;" alt="Listing Image">
                        <div class="card-body "> <!-- Added text-center -->
                            <h2 class="card-title">
                                <%= listing.title %>
                            </h2>
                            <p class="card-text"><strong>Description:</strong>
                                <%= listing.description %>
                            </p>
                            <p class="card-text"><strong>Address:</strong>
                                <%= listing.location %>, <%= listing.country %>
                            </p>
                            <p class="card-text"><strong>Price:</strong> $<%= listing.price %>
                            </p>

                            <!-- Buttons -->
                            <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger me-3">Edit</a>
                            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-dark">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>